.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
}

.tnav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Navbar {
  height: 60px;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-left: 40px;
  margin: 2rem;
}

.nav-logo {
  font-weight: 800;
  font-size: 36px;
  color: black;
  margin-left: 13rem;
}

.Navbar > .nav-items > a {
  font-weight: 700;
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.nav-toggle {
  display: none;
}
.bar {
  display: none;
}
.nav-cross {
  display: none;
}
.bottom-navBar {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-navBar > h1 {
  font-size: 60px;
  font-family: var(--font-sans);
  font-weight: 400;
}
.bottom-navBar > p {
  margin: 2px;
  font-family: Simplon Norm;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  tex-decoration: none;
}
@media (max-width: 700px) {
  .Navbar {
    display: none;
  }
  .nav-items {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
    padding: 50px;
  }
  .nav-logo {
    font-weight: 800;
    font-size: 36px;
    color: black;
    margin-left: 0;
  }
  .bar {
    display: block;
  }
  .Navbar > .nav-items > a::before {
    background: transparent;
  }
  .nav-cross {
    display: block;
    position: absolute;
    right: 3rem;
  }
  .nav-items.open {
    transform: translateX(0);
  }

  .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle.open > .bar {
    background: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 32px;
  }

  .nav-toggle.open > .bar::after {
  }
}
